@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #1e2737;
}

div.welcome-view,
div.game-over-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.overlay {
  background-color: rgba(42, 42, 55, 0.9);
}

div.modal {
  width: clamp(40%, 360px, 90%);
  height: min(45%, 460px);
  box-shadow: #3b8e5f 0px 0px 0px 3px;
}

div.movie-card {
  box-shadow: #2e3160 0px 0px 0px 4px;
}

button.game-button {
  min-width: 12rem;
}
